
$todoColumns: 4;

/* Todo cards */
app-todo-card {
    margin: auto;
    &+app-todo-card{
        margin-top: 1.125rem;
    }
    ::ng-deep .block-container {
        width: calc(100vw / #{$todoColumns});
    }
}

/* The fab button on the bottom right for adding todos */
.fab {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

/* The main grid container */
main {
    display: grid;
    grid-auto-flow: column dense;
    grid-template-columns: repeat($todoColumns, auto);
    grid-gap: 0.5rem;
}

.card-column-zero {
    grid-column: 1 / 2;
}

.card-column-one {
    grid-column: 2 / 3;
}

.card-column-two {
    grid-column: 3 / 4;
}

.card-column-three {
    grid-column: 4 / 5;
}

/* The headlines above each column */
.importance-headline {
    text-align: center;
}