<main>
  <!--The headline above each column-->
  <h3 *ngFor="let state of importanceStates; let i = index" 
    class="importance-headline"
    [ngClass]="{'card-column-1': i === 0, 
                'card-column-2': i === 1,
                'card-column-3': i === 2,
                'card-column-4': i === 3}">{{state}}</h3>
  
  <!--The todo-cards in each column-->
  <app-todo-card *ngFor="let todo of (todos$ | async)"
    [ngClass]="{'card-column-1': todo.importance === 0 && !todo.isDone, 
                'card-column-2': todo.importance === 1 && !todo.isDone,
                'card-column-3': todo.importance === 2 && !todo.isDone,
                'card-column-4': todo.isDone || todo.importance === 3}"  
    [todo] = todo
    (deletedTodo)=deleteTodo(todo)
    (doneTodo)=doneTodo(todo)
    (editedTodo)=editTodo(todo)>
  </app-todo-card>

  <!--The fab button to add new todos-->
  <button mat-fab class="fab" (click)="addTodo()">
    <mat-icon>add</mat-icon>
  </button> 
</main>

