
<mat-vertical-stepper [linear]="false" #stepper>
  <mat-step *ngFor="let meal of meals; let i = index" [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>{{meal}}</ng-template>
        <app-display-food 
          [meal]="meal"
          [items]="addedFood">
        </app-display-food>
        <app-search-food (foodChosen)="itemChosen($event, meal)"></app-search-food>
      <div>
        <button mat-button matStepperPrevious *ngIf="i !== 0">Back</button>
        <button mat-button matStepperNext *ngIf="i !== meals.length - 1">Next</button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>
