.container {
    display: block;
    min-width: 25rem;
    max-width: 37.5rem;
    margin: 0 auto;
}

mat-card-header {
    justify-content: center;
}

.carbohydrates {
    padding-top: 1rem;
}

table {
    width: 100%;
}

tr.mat-footer-row {
    font-weight: bold;
}
