$light-grey: #F0F0F0;
$summarie-list-width: 18vw;

.addIcon {
    margin-right: 0.5rem;
}

.addButton {
    background-color: $light-grey;
    border-bottom: 0.5px solid grey;
}

.summaries {
    border-bottom: 0.5px solid lightgrey;
}
    

.activeSummary {
    background-color: $light-grey;
}

.enterName {
    background-color: $light-grey !important;
    border-bottom: 0.5px solid grey;
}

.headline {
    display: flex;
    align-items: center;
}

.edit-name {
    background-color: lightgrey;
}


@media only screen and (max-width : 768px) {
    .grid {
        display: grid;
        grid-template-rows: auto auto; 
    }

    .summariesList {
        overflow: auto;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .view {
        grid-row-start: 2;
        grid-row-end:3;
        height: 80vh;
    }


}

@media only screen and (min-width : 768px) {
    .grid {
        display: grid;
        grid-template-columns: $summarie-list-width auto; 
    }

    .summariesList {
        overflow: auto;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .view {
        grid-column-start: 2;
        grid-column-end:3;
        height: 80vh;
        margin-left: 2rem;
        margin-right: 1rem;
    }
}