<div class="headline">
    <h1 *ngIf="!editFolderName">{{ folder?.name }}</h1>
    <div *ngIf="editFolderName" class="edit-name">
        <mat-form-field>
            <input matInput placeholder="enter new folder name" [(ngModel)]="folder.name" (keydown.enter)="changedFolderName()">
        </mat-form-field>
        <button mat-icon-button (click)="changedFolderName()"><mat-icon>check</mat-icon></button>
        <button mat-icon-button (click)="editFolderName = !editFolderName"><mat-icon>close</mat-icon></button>
    </div>
    <div class="folder-options">
        <button mat-icon-button (click)="deleteFolder()">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button (click)="editFolderName = !editFolderName">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="router.navigate(['/summaries'])">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

<main class="grid">
    <mat-action-list class="summariesList">
        <button mat-list-item (click)="this.enterName=true" class="addButton">
            <mat-icon class="addIcon">add_circle</mat-icon>
            <span>add a Summary</span>
        </button>
        <button mat-list-item *ngIf="enterName" class="enterName">
            <mat-form-field floatLabel="never">
                <input matInput placeholder="Enter name" (keyup.enter)="addSummary(nameInput.value)" #nameInput>
            </mat-form-field>
            <button mat-icon-button (click)="addSummary(nameInput.value)">
                <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button (click)="enterName=false">
                <mat-icon>close</mat-icon>
            </button>
        </button>
        <button mat-list-item *ngFor="let summary of (summaries$ | async)"
            (click)="summaryChosen(summary)" class="summaries">{{summary?.topic}}</button>
    </mat-action-list>

    <div *ngIf="currentSummary.content !== null">
        <div class="view" *ngIf="edit">
            <button mat-icon-button (click)="saveSummary()">
                <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button (click)="edit = !edit">
                <mat-icon>close</mat-icon>
            </button>
            <quill-editor [(ngModel)]="currentSummary.content"></quill-editor>
        </div>
        <div class="view" *ngIf="!edit">
            <button mat-icon-button (click)="edit = !edit">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteSummary()">
                <mat-icon>delete</mat-icon>
            </button>
            <quill-view [content]="currentSummary.content"></quill-view>
        </div>
    </div>
</main>