<mat-sidenav-container>
  <mat-sidenav class="sidenav" #sidenav>
    <mat-nav-list role="navigation">
      <a mat-list-item routerLink="todos" routerLinkActive="active">
        <mat-icon matListIcon>format_list_bulleted</mat-icon>
        Todos & Notes 
      </a>
      <a mat-list-item routerLink="fit" routerLinkActive="active">
        <mat-icon matListIcon>fitness_center</mat-icon>
        Fitness & Trainings-Plan
      </a>
      <a mat-list-item routerLink="summaries" routerLinkActive="active">
        <mat-icon matListIcon>subject</mat-icon>
        Summaries
      </a>
      <a mat-list-item routerLink="food" routerLinkActive="active">
        <mat-icon matListIcon>fastfood</mat-icon>
        Eating Schedule 
      </a>
      <a mat-list-item routerLink="settings" routerLinkActive="active">
        <mat-icon matListIcon>settings</mat-icon>
        Settings
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content"> 
    <mat-toolbar class="toolbar mat-elevation-z4" color="primary">
      <button (click)="sidenav.toggle()" mat-icon-button aria-label="Slides navigation side bar open">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="toolbar-container">
        <p>Productivity</p>
        <div class="account-container">
          <p>{{(username$ | async)?.username}}</p>
          <button class="account-button" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="account-icon">account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="(username$ | async).username === ''" (click)="logIn()">Log In</button>
            <button mat-menu-item *ngIf="(username$ | async).username !== ''" (click)="logOut()">Log out</button>
            <button mat-menu-item (click)="register()">Register</button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
