form {
    display: flex;
    flex-direction: column;
}

mat-action-list {
    max-height: 20rem;
}



.submit-button {
    width: 22%;
}

.button-group {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    button + button {
        margin-left: 0.5rem;
    }
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}