<div class="mat-elevation-z4 container">
  <h4 class="add-meal-headline">Add a Meal:</h4>
  <mat-form-field>
    <input matInput placeholder="Product Name" (keyup)="searchTerm$.next({name: $event.target.value, manufac: manufac.value})" #name>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Manufacturer" (keyup)="searchTerm$.next({name: name.value, manufac: $event.target.value})" #manufac>
  </mat-form-field>

  <mat-action-list *ngIf="results">
    <button mat-list-item *ngFor="let result of results" (click)="itemChosen(result)">
      <div class="item-container">
        <p>
          {{result.Long_Desc}} 
        </p>
        <p *ngIf="result.ManufacName"> 
          Manufacturer: {{result.ManufacName}}
        </p> 
      </div>
    </button>
    <div *ngIf="!addButtonDisabled">
      <h5>Per 100g: </h5>
      <div *ngFor="let nutr of (NutrientData$ | async)">
        <p>{{nutr.NutrDesc}} {{nutr.Nutr_val}} {{nutr.Units}}</p>
      </div>
    </div>
  </mat-action-list>
  <button mat-raised-button color="primary" [disabled]="addButtonDisabled" (click)="foodAdded()">Add Meal</button>
  <mat-form-field *ngIf="!addButtonDisabled">
    <input matInput placeholder="Weight in g" [(ngModel)]="weight">
  </mat-form-field>
</div>
