mat-form-field {
    margin: 1rem;
}

mat-action-list {
    max-height: 25rem;
    overflow: auto;
}

.item-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-meal-headline {
    padding: 1rem;
    margin: 0;
}

.container {
    margin-top: 1rem;
}

.addButton {
    display: block;
    padding: 1rem;

    button + button {
        margin-left: 1rem;
    }   
}

.details {
    padding-left: 1rem;
}