.card {
    display: grid;
    grid-template-columns: 10% 5% auto;
    grid-template-rows: auto auto auto;
}

.header {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
}

.divider {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    margin: 0 auto;
}

.checkbox {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    align-items: center;
    justify-content: center;
}

.details {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.image {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

::ng-deep .mat-card-header-text {
    margin: 0rem 0rem !important
}

.trashcan {
    margin-top: -0.625rem; 
    margin-right: -0.625rem;
}

.title {
    word-break: break-all;
}
