<div class="block-container">
  <mat-card class = "card">

    <!--The checkbox on the left-->
    <mat-checkbox class="checkbox" [(ngModel)]="todo.isDone"></mat-checkbox>

    <!--The divider bar dividing the checkbox from the rest of the content-->
    <mat-divider class="divider" [vertical]="true"></mat-divider>

    <!--The header on the right side-->
    <div class="header">
      <mat-card-title [ngClass]="{'title-expanded': open, 'title-closed': !open}">
        {{todo.todoMsg}}
      </mat-card-title>
      <button mat-icon-button aria-label="Delete Button" (click)="open ? open = false : open = true;">
        <mat-icon *ngIf="!open">expand_more</mat-icon>
        <mat-icon *ngIf="open">expand_less</mat-icon>
      </button>
    </div>

    <div *ngIf="open">
      <p *ngIf="todo.endDate">
        Deadline: {{todo.endDate | date: 'shortDate'}}
      </p>
      <!--The image between the header and the details-->
      <img mat-card-image class="image" *ngIf="todo.imgUrl" [src]="todo.imgUrl" alt="todo image">

      <!--The details at the bottom-->
      <mat-card-content class="details" *ngIf="todo.details">
        <p>{{todo.details}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="deletedTodo.emit()">DELETE</button>
        <button mat-button (click)="editedTodo.emit()">EDIT</button>
      </mat-card-actions>
   </div>
  </mat-card>
</div>
